In [1]:
'''import nw_module

nw_module.skill_list

nw_module.add(4,5)'''

'import nw_module\n\nnw_module.skill_list\n\nnw_module.add(4,5)'

In [2]:
class BaseSalary:
  def __init__(self, base_salary, bonus_rate = 0.1, symbol = '$', ):
    self.base_salary = base_salary
    self.bonus_rate = bonus_rate
    self.symbol = symbol

    self.total_salary = self.base_salary * (1 + self.bonus_rate)
    self.bonus = self.total_salary - self.base_salary

  def __repr__(self):
    return f'{self.symbol}{self.base_salary:,.2f}'

  def Total(self):
    return f'{self.symbol}{self.total_salary:,.2f}'

  def Bonus(self):
    return f'{self.symbol}{self.bonus:,.2f}'

In [3]:
salary = BaseSalary(100000,0.2)
salary

$100,000.00

In [4]:
salary.Total()

'$120,000.00'

In [5]:
salary.Bonus()

'$20,000.00'

In [6]:
import numpy as np

job_titles1 = np.array(['A','B','C','D'])
salary1 = np.array([100,200,300,400])
bonus1 = np.array([01.,0.2,0.3,0.4])

total_salary1 = salary1 * (1 + bonus1)
print(total_salary1)

print(np.mean(total_salary1))

[200. 240. 390. 560.]
347.5

In [7]:
job_titles2 = np.array(['A','B','C','D','E'])
salary2 = np.array([100,200,300,400, np.nan])
bonus2 = np.array([01.,0.2,0.3,0.4, np.nan])

total_salary2 = salary1 * (1 + bonus1)
print(total_salary2)

print(np.nanmean(total_salary2))

[200. 240. 390. 560.]
347.5

In [8]:
!pip install datasets

^C

In [ ]:
from datasets import load_dataset

In [ ]:
dataset = load_dataset('lukebarousse/data_jobs')

In [ ]:
df = dataset['train'].to_pandas()
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

In [ ]:
df.iloc[10:20, 0:2]

         job_title_short                                    job_title
10         Data Engineer         Erfahrene*r Data Engineer*in (m/w/d)
11         Data Engineer                                Data Engineer
12          Data Analyst  Stagiaire Data Analyst (H/F) - Lyon (69006)
13  Senior Data Engineer                         Senior Data Engineer
14         Data Engineer                                Data Engineer
15         Data Engineer                                Data Engineer
16         Data Engineer                            Big Data Engineer
17        Data Scientist                       Data Science Team Lead
18          Data Analyst                                 Data Analyst
19        Data Scientist                               Data Scientist

In [ ]:
df[['job_title_short', 'job_title']].iloc[90:100]

         job_title_short                                          job_title
90        Data Scientist                                     Data Scientist
91        Data Scientist                                     Data Scientist
92         Data Engineer            Remote - Data Engineer - Permanent - W2
93          Data Analyst       IT Finance / TBM Data Analyst - Remote | WFH
94         Data Engineer                   Data Engineer - Cloud Operations
95         Data Engineer                                      Data Engineer
96         Data Engineer                                      Data Engineer
97          Data Analyst  Systems & Data Analyst - Exploitation, Missing...
98  Senior Data Engineer                         Senior Data Engineer (AWS)
99         Data Engineer  Senior/Staff Data Engineer – Apache Spark (Jav...